<section class="video-header">
  <div class="video-wrapper">
      <iframe class="responsive-video"
                  src="https://www.youtube.com/embed/JQrDRD1JYVs"
                              title="Ethereal Aroma Intro Video"
                                          frameborder="0"
                                                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                  allowfullscreen></iframe>
                                                                    </div>
                                                                    </section>

                                                                    <style>
                                                                      .video-wrapper {
                                                                            aspect-ratio: 16/9;
                                                                                width: 100%;
                                                                                    max-width: 100%;
                                                                                        overflow: hidden;
                                                                      }

                                                                        .responsive-video {
                                                                              width: 100%;
                                                                                  height: 100%;
                                                                                      border: none;
                                                                        }
                                                                        </style>
                                                                        }
                                                                      }